[View in Colaboratory](https://colab.research.google.com/github/Sundar0989/Predictive_models_using_Deep_learning/blob/master/Multinomial_Classification_Keras.ipynb)

In [0]:
import numpy
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline

In [2]:
import tensorflow as tf
device_name = tf.test.gpu_device_name()
if device_name != '/device:GPU:0':
  raise SystemError('GPU device not found')
print('Found GPU at: {}'.format(device_name))

Found GPU at: /device:GPU:0

In [3]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving filename3.csv to filename3.csv
User uploaded file "filename3.csv" with length 3417552 bytes

In [0]:
df = pd.read_csv('filename3.csv',sep='|')

In [14]:
df.head()

,Unnamed: 0,score1,score2,score3,score4,score5,score6,score7,score8,score9,score10,target
0,0,0.035368,0.210478,0.032928,0.109560,0.093243,0.100632,0.258494,0.103600,0.122446,0.067297,5.0
1,1,0.035368,0.210478,0.032928,0.060095,0.093243,0.100632,0.258494,0.201516,0.271618,0.067297,2.0
2,2,0.035368,0.210478,0.032928,0.060095,0.093243,0.100632,0.258494,0.201516,0.271618,0.067297,7.0
3,3,0.035368,0.210478,0.032928,0.060095,0.093243,0.100632,0.258494,0.201516,0.271618,0.067297,2.0
4,4,0.035368,0.210478,0.032928,0.060095,0.093243,0.100632,0.258494,0.201516,0.271618,0.067297,5.0

In [15]:
df.columns

Index(['Unnamed: 0', 'score1', 'score2', 'score3', 'score4', 'score5',
       'score6', 'score7', 'score8', 'score9', 'score10', 'target'],
      dtype='object')

In [0]:
df.drop('Unnamed: 0',axis=1, inplace=True)

In [17]:
df.head()

,score1,score2,score3,score4,score5,score6,score7,score8,score9,score10,target
0,0.035368,0.210478,0.032928,0.109560,0.093243,0.100632,0.258494,0.103600,0.122446,0.067297,5.0
1,0.035368,0.210478,0.032928,0.060095,0.093243,0.100632,0.258494,0.201516,0.271618,0.067297,2.0
2,0.035368,0.210478,0.032928,0.060095,0.093243,0.100632,0.258494,0.201516,0.271618,0.067297,7.0
3,0.035368,0.210478,0.032928,0.060095,0.093243,0.100632,0.258494,0.201516,0.271618,0.067297,2.0
4,0.035368,0.210478,0.032928,0.060095,0.093243,0.100632,0.258494,0.201516,0.271618,0.067297,5.0

In [0]:
X = df[df.columns.difference(['target'])]
Y = df[['target']]

In [54]:
Y.target.fillna('NA').value_counts()

7.0     3576
5.0     1713
4.0     1678
3.0     1593
9.0     1577
6.0     1419
1.0     1412
10.0    1258
8.0     1238
2.0      877
Name: target, dtype: int64

In [55]:
encoder = LabelEncoder()
encoder.fit(Y)
encoded_Y = encoder.transform(Y)
# convert integers to dummy variables (i.e. one hot encoded)
dummy_y = np_utils.to_categorical(encoded_Y)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [0]:
# define baseline model
def baseline_model():
	# create model
	model = Sequential()
	model.add(Dense(20, input_dim=10, activation='relu'))
	model.add(Dense(10, activation='softmax'))
	# Compile model
	model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
	return model

In [0]:
estimator = KerasClassifier(build_fn=baseline_model, epochs=200, batch_size=64, verbose=0)

In [0]:
seed = 7
numpy.random.seed(seed)

In [0]:
kfold = KFold(n_splits=10, shuffle=True, random_state=seed)

In [0]:
results = cross_val_score(estimator, X, dummy_y, cv=kfold)

In [0]:
print("Baseline: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))